.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blank{
  color: aquamarine;
}


  input.toggle-round {
    display:none;
  }
  input.toggle-round + label {
    display: block;
    position: relative;
    cursor: pointer;
  }
  input.toggle-round + label {
    padding: 1px;
    width: 30px;
    height: 30px;
    background-color:  rgba(0, 128, 0, 0.418);
    border-radius: 30px;
    border:  0px solid #ccc;
  }
  input.toggle-round + label:after {
    display: block;
    position: absolute;
    content: "";
    width: 30px; height: 30px;
    
    border-radius: 100%;
    
    transition: margin 0.5s;
  }
  input.toggle-round-yellow + label:after {
  background-color: rgba(185, 153, 8, 0.842);
 
  }
  input.toggle-round-green + label:after {
    background-color: rgba(6, 173, 109, 0.842);
   
    }
    input.toggle-round-blue + label:after {
      background-color: rgba(67, 35, 141, 0.842);
     
      }
  /* input.toggle-round:checked + label {
    background-color: rgba(0, 128, 0, 0.123);
  }
  */
